body{
    font-size: 30; /*Ejemplo error de sintaxis*/
    color: #A833FF;
}

h1,h2,h3,h4,h5 /*Error de sintaxis*/
{
    font-weight: bold;
    text-align: center;
    color: #000000;
}

p{
    font-size: 1.2em;
}

code{
    font-family: "Courier New", Courier, monospace;
}
